<div class = "containerr">
<div id="text" >

    <div class="line">
        <p class="word fancy1">Konsta </p>
        <p class="word fancy1">Suomalainen</p>



    </div>
    <div class="line">
        <p class="word fancy2">Business information</p>

        <p class="word fancy2">at</p>

    </div>
    <div class="line">

        <p class="word fancy2">LAB University</p>
        <p class="word fancy2">of</p>
        <p class="word fancy2">Applied Sciences</p>
    </div>
    <div class="line">
        <p class="word fancy3">My most used coding</p>
        <p class="word fancy3">languages:</p>

    </div>
    <div class="line">
        <p class="word fancy3">Angular</p>
        <p class="word fancy3">C#,</p>
    </div>
    <div class="line">
        <p class="word fancy3">&</p>
        <p class="word fancy3">TypeScript</p>
    </div>

    <div   class="line">
        <p class="word fancy8">Also have experience</p>
        <p class="word fancy8">of</p>
    </div>
    <div   class="line">
        <p (mouseenter)="hideImg()" (mouseleave)="hideImg()" class="word fancy8">Python,</p>
        <p class="word fancy8">SQL</p>
        <p class="word fancy8">&</p>
        <p class="word fancy8">MS POWER AUTOMATE</p>
    </div>







    
</div>
<div class="vastaukset">
<div *ngIf="this.isButtonVisible" class="python">
    <p class="sisälto">
        Lounaslista Bot GoForelle
    </p>
</div>
</div>



 <div  class = "container1" >

   <div class="grid" *ngFor="let striimi of striimit | sortByOrder">
    <button class = "button1">
    <h2 class = "sisälto">{{striimi.Title}}</h2>
    <h2 class = "sisälto">{{striimi.order}}</h2>
</button>
   </div>





 </div>


