<section class="section">

    <h1>Welcome!</h1>

</section>
<section class="section">

    <h1>I am</h1>

</section>
<section class="section">

    <h1>Konsta Suomalainen</h1>

</section>

<section class="section">

    <h1>Studying Business Information Technology at LAB University of Applied Sciences</h1>
    <h1>Intermediate in C#, Angular, TypeScript</h1>

</section>

<section class="section">

    <img class = "kuva" src="https://media.licdn.com/dms/image/D4D03AQH1D2YJuJ0_mw/profile-displayphoto-shrink_400_400/0/1697130364027?e=1706745600&v=beta&t=q_157qWZuo66DQZ4AGbB_Y6pUH7rPubZywu1LkNz2T8" alt="">

</section>
