<div>
  <mat-toolbar class="toolbar">
    
    <button mat-button [matMenuTriggerFor]="menu" >
      <mat-icon>menu</mat-icon>
      <mat-menu class="sisältö1" #menu="matMenu" >
        <div class="sisältö" >
          <div class="toolbar-linkki">
            <a class="linkki" routerLink="/etusivu" routerLinkActive="active">
              Etusivu
            </a>
          </div>
          <div class="toolbar-linkki">
            <a class="linkki" routerLink="/laskinkomponentti" routerLinkActive="active">
              Laskin
            </a>
          </div>
          <div class="toolbar-linkki">
            <a class="linkki" routerLink="/kuva" routerLinkActive="active">
              Kuva-karuselli
            </a>
          </div>
          <div class="toolbar-linkki">
            <a class="linkki" routerLink="/feedback" routerLinkActive="active">
              Feedback
            </a>
          </div>

        
        <div class="toolbar-linkki">
          <a class="linkki" routerLink="/forms" routerLinkActive="active">
            Forms
          </a>
        </div>
        <div class="toolbar-linkki">
          <a class="linkki" routerLink="/reactiveForms" routerLinkActive="active">
            Reactive Forms
          </a>
        </div>
        <div class="toolbar-linkki">
          <a class="linkki" routerLink="/news" routerLinkActive="active">
            News
          </a>
        </div>
        <div class="toolbar-linkki">
          <a class="linkki" routerLink="/ticket" routerLinkActive="active">
            Tickets
          </a>
        </div>
        </div>



      </mat-menu>
    </button>
    <span>Front-End Työkalut</span>
    <span class="example-spacer"></span>
    <div class = "login">

    
    
   
    <button  routerLink="/login" routerLinkActive="active" mat-button *ngIf="checkLoggedIn()">Sign in</button>

    <button (click) = "logOut()"  mat-button *ngIf="checkLoggedIn()" >Sign out</button>
    <p class = "" *ngIf="checkLoggedIn()">{{this.email| async}}</p>
  </div>
  </mat-toolbar>
</div>