.container
{
    display: grid;
    align-items: center; 
    grid-template-columns: 1fr 1fr;
    height: max-content;
    width: min-content;
    padding: 0;
   
   
    
}
.panel1
{
   
}
.icon
{
    
    padding: 0;
    color: red;
    position: absolute;
    
    margin-left: -20px;
    width: 195px;
    
}
.icon:hover{
    cursor:url("cursori.png"),auto
}
.input1
{
    width: 195px;
    
}


.hakupalkki
{
    padding: 0;
    background-color: white;
    margin: 0;
    height: 56px;
    width: 195px;
    margin-left: 0px;
   
   
    
    
}


.finnkino
{
    width: 30cm;
    height: 3cm;
   
}
.finnkino1
{
    width: 2px;
    height: 2px;
    
    
}

.finnkinoKuvat
{
    height: 15cm;
}
.kuvat{
    
    display: block;
    object-fit: contain;
    height: 10cm;
    margin: auto;
 
    
    height: 100%;
  width: 100%;

}
.kuvadiv
{
    border: 3px solid #000000;
}
mat-expansion-panel
{
    border: 3px solid #000000;
}

.pikkukuvat
{
    height: 3cm;
    width: 195px;
    
    
}
.pikku
{
    width: 195px;
    
    
}