<div class="hakupalkki" *ngIf="this.isButtonVisible">





  <mat-form-field class="input1">

    <input class = "input2" matInput [(ngModel)]="searchText" matInput placeholder="Kirjoita hakusana">
    <mat-icon class="icon">search</mat-icon>
  </mat-form-field>

</div>

<mat-accordion class="finnkino1" *ngFor="let news of cinemaData | async | newsHakuPalkki: searchText">



  <div class="container">
    
    <div class="pikku" *ngIf="this.isButtonVisible">
      <img class="pikkukuvat" src={{news.ThumbnailURL}}>
    
  </div>
    <div class="panel1">
      <mat-expansion-panel>

        <mat-expansion-panel-header (click)="hideImg()" class="finnkino">
          <mat-panel-title>
            {{news.Title}}
          </mat-panel-title>
          <mat-panel-description>
            Elokuvan esityspäivä: {{news.PublishDate | date:format}}
          </mat-panel-description>
        </mat-expansion-panel-header>
        <p>{{news.HTMLLead}}</p>
        <div class="kuvadiv">
          <img class="kuvat" src={{news.ImageURL}} alt="">
        </div>
      </mat-expansion-panel>
    </div>
  </div>
</mat-accordion>