<div class = "form">
<form [formGroup]="profileForm" class="example-form">
    <mat-form-field class="example-full-width">
        <mat-label>Email</mat-label>
        <input matInput placeholder="email" formControlName="email">
        <mat-error *ngIf="email?.hasError('required')">Enter your email</mat-error>
        <mat-error *ngIf="email?.hasError('minlength')">Minimum 3 characters</mat-error>
        <mat-error *ngIf="email?.hasError('email')">Input valid email</mat-error>
    
    
    </mat-form-field>
    <mat-form-field class="example-full-width">
        <mat-label>Password</mat-label>
        <input [type]="hide ? 'password' : 'text'"matInput placeholder="password" formControlName="passWord">
        <mat-error *ngIf="passWord?.hasError('required')">Enter your password</mat-error>
        <mat-error *ngIf="passWord?.hasError('minlength')">Minimum 5 characters</mat-error>
    
        
    </mat-form-field>
    <button type="submit"(click)="login(profileForm.value)" class = "button" mat-raised-button>Login</button>
    <button (click) = "toEtusivu()" class = "button" mat-raised-button>Cancel</button>
    </form>
    
</div>
